@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #356b34;
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.icon{
    width: 100px;
    margin-left: 45px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.sidebar{
    width: 240px;
    background: #347433;
    position: fixed;
    height: 100vh;
    padding: 20px;
    transition: all 1s;
    left: 0;
    top: 0;
}

.sidebar.active{
    left: 0;
}


.sidebarLinks{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarLinks li{
    list-style-type: none;
    margin: 10px 0;
}

.sidebarLinks a{
    color: white;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  margin-left: 15px;
  cursor: pointer;
}

ul li a:hover,
ul li a.active{
    background: #ff8a00;
}