/*Reservation section*/

.header{
    padding: 100px 50px 100px 50px;
    margin-top: 80px;
    min-height: 100vh;
    text-align: center;
    animation: fadeIn 0.3s ease;
    
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.header h{
    color:#347433;
    font-size: 50px;
    font-weight: bold;

}

.reservation_cards{
    gap: 15px;
    animation: cardAnimation 1s alternate ease;
}

.card_img_top {
  height: 250px;        
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.card_body{
    padding: 20px;
}

.card{
    text-decoration: none;
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    background-color: #ff8a00;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 8px;
}

.card p{
    color: white;
}

.card h1{
    font-weight: bold;
    color: white;
    font-size: 30px;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  background-color: #f1b00d;
}

.reservation_cards a{
    background-color: #ff8a00;
}

@keyframes cardAnimation{
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }

}

@media (max-width: 811px){
    .reservation_cards{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 100%;
    }

    .card_img_top{
        height: 200px;
    }
}

/*Reservation type section*/

.reservation_type_section {
    margin-top: 300px;
    min-height: 100vh;
    animation: reservationAnimation 0.7s ease-out;
}

.reservation_type_section .btn{
    background-color: #ff8a00;
}

#container {
    margin-top: 15%;
}

.text_title{
    font-size: 40px;
}

.reserve_btn{
    background-color: #ff8a00;
    color: white;
}

.reserve_btn:hover {
  background-color: #e47a00;
}

.reserve_btn:active{
    background-color: #e47a00;
}

.reservation_text{
    margin: 30px;
    
}

.btn_area{
    margin-top: 40px;
    display: flex;
}

@keyframes reservationAnimation{
    from{
        opacity: 0;
        transform: translatex(60px);

    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 811px){
    .btn_area{
        justify-content: center;
    }
}

/*Reservation form section*/
.reservation_form{
    color:#347433;
    font-weight: bold;
}

.form_title{
    color:#347433;
    font-weight: bold;
}

.thank_message{
    text-align: center;
}

.message_title{
    color: #347433;
    font-weight: bold;
}

.reserve_msg_btn{
    background-color: #ff8a00;
    display: flex;
    justify-content: center;
}

.reserve_msg_btn:hover {
  background-color: #e47a00;
  transition: 0.3s ease;
}

.reserve_msg_btn:focus{
    background-color: #e47a00;
}

.reserve_header{
    display: flex;
    justify-content: center;
}

.reserve_footer{
    justify-content: center;
}

@media (max-width: 811px){
    .reservation_form{
        align-content: center;
    }

    .thank_message{
        align-content: center;
    }
}


/*Car sticker section*/

.car_sticker_section{
    background-repeat: no-repeat;
    padding: 100px 0;
    min-height: 100vh;
    background-position: center left 50vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    transform: translatex(20px);
    opacity: 0;
    animation: animateCar 0.5s ease forwards;
}

@keyframes animateCar{
    to{
        opacity: 1;
        transform: translatey(0);
    }
}



.car_header{
    font-size: 50px;
    font-weight: bold;
    color: #ff8a00;
}

.car_header_2{
    font-size: 40px;
    font-weight: bold;
    color: #347433;
}

.car_btn{
    background-color: #ff8a00;
    transition: 1s ease;   
}

.car_btn:hover {
  background-color: #e47a00;
  transition: 0.3s ease;
}

.car_btn_container{
    display: flex;
    justify-content: center;
}

@media (max-width: 811px){
    .car_sticker_section{
        background-size: 140%;
        background-position: center bottom;
        padding-bottom: 430px;
    }
}

/*Car Sticker Form*/
.title_container{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.car_sticker_form_section{
    min-height: 100vh;
    padding: 150px;
    color: black;
}

.car_sticker_form_section li{
    color: black;

}

.car_sticker_form_section h1 {
    font-size: 50px;
    color:#ff8a00;
    font-weight: bold;

}

.car_sticker_form_section h2{
    font-size: 40px;
    color:#347433;
    font-weight: bold;


}

.car_sticker_form_section input{
    margin: 5px 0;
}

.btn_container{
    display: flex;
    justify-content: end;
}

.car_sticker_form_btn{
    background-color:#ff8a00;
}

.car_sticker_form_section p{
    text-align: center;
}

@media (max-width: 811px){
    .car_sticker_form_section{

        padding: 130px 0 100px 0;
    }

    .btn_container{
        justify-content: center;
    }
}

/*Move In & Move Out Section*/
.move_section{
    min-height: 100vh;
    padding: 150px 0;
    color: black;
}

.move_section h1{
    color: #347433;
    font-weight: bold;
    text-align: center;
}

.move_section h2{
    color: #347433;
    font-weight: bold;
}

.move_body{
    margin-top: 80px;
    margin-bottom: 100px;
}

.download_link{
    font-size: 20px;
}

@media (max-width: 811px){
    .move_section{
        padding: 150px 10px;
    }

}

