@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

/* Colors
#ff8a00 - Yellow
#347433 - Green
#ffffff - White
#d9d9d9 - Light Gray
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;  
  text-decoration: none;  
}

.hero_user::before {
  content: '';  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  
  z-index: 1;  
}

.hero_user {
  background: url('/src/assets/user_home.jpg') no-repeat center;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 7rem 0;
  min-height: 100vh;
  color: white;  
  background-color: #347433;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1100px;
  margin: auto;
  position: relative;  
  z-index: 2;  
  text-align: center;  
  width: 100%;  
}

.hero_content h1 { 
  font-size: 5rem;  
  font-weight: 500;
  color: white;  
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}